@import "bootstrap";

body {
  padding: 20px;
}

#app {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

#history {
  padding: 10px;
  margin-right: 5px;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 5px;

  .hide {
    display: hide;
  }
}

#calculator {
  margin-left: 5px;
  flex: 2;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  
  .top {
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    height: 50px;
    text-align: right;
    border-radius: 1px;

    .screen {
      padding-top: 13px;
      padding-right: 10px;
      vertical-align: middle;
      height: 100%;
    }
  }
  
  .keys {
    text-align: center;
    padding: 5px;
    
    .row {
      display: flex;
      width: 100%;
      margin: 0;
      height: 20%;

      .key {
        flex: 1;
        width: auto;
        border-radius: 2px;
        height: 30px;
        background-color: lightgray;
        border: 1px solid lightgray;
        cursor: pointer;
        margin: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .key:hover {
        border: 1px solid gray;
      }

      .number {
        background-color: white;
      }

      .equel {
        background-color: steelblue;
        color: white;
        font-size: 20px;
      }
    }
  }
}



